**/.gitignore
**/*.md
**/*.db
**/*.zip
**/node_modules/
**/migrations/
**/schema.prisma

apps/backend/dev/
apps/backend/dist/
apps/backend/src/data/user_cf_scores-dummy.json

apps/backend/cert/global-bundle.pem
apps/backend/dist-lambda/
apps/backend/dist-lambda-ws/
apps/backend/src/generated/prisma/
apps/backend/src/ws/
apps/backend/src/config.ts
apps/backend/src/lambda.ts
apps/backend/src/server.ts