#-- .env.production --
VITE_GOOGLE_CLIENT_ID=73018051193-08eq4hjupa6m59bs4b16hocxxxxx.apps.googleusercontent.com
VITE_GOOGLE_CLIENT_SECRET=GOCSPX-ZGTIcTGwkqtxz-vla3DjJxxxxxx

# letakkan model di folder public
VITE_BACKEND_URL=https://yourbackend.com
VITE_API_MODEL_TFJS_URL=https://yours3.com/tfjs_saved_model
VITE_TRIGGER_MODEL_TFJS_URL=https://yourlambdapython.com/trigger-etl

VITE_MODEL_CHATBOT_KEY=your_model_encrypt_key