# .env 
VITE_GOOGLE_CLIENT_ID=73018051193-08eq4hjupa6m59bs4b16hocxxxxx.apps.googleusercontent.com
VITE_GOOGLE_CLIENT_SECRET=GOCSPX-ZGTIcTGwkqtxz-vla3DjJxxxxxx
VITE_CHECK=ok
VITE_MODEL_CHATBOT_KEY=yourSecretKey
VITE_WS_URL=wss://tkiid*****.execute-api.us-east-1.amazonaws.com/production


# -- .env.production.local --
VITE_BACKEND_URL=https://vzgtvmcnk5z5lge5pjdcxl7u4m0vmhfq.lambda-url.us-east-1.on.aws 
# > atau VITE_BACKEND_URL=https://elysia-app-657303811655.asia-southeast1.run.app

VITE_CHECK="vite env check production"