# --- .env ---
# informasi umum untuk test local
# secret, tidak wajib diset (sudah ada default), ini khusus di Parameter store host deployment 
JWT_SECRET="yoursecret"
# API key untuk trigger ETL & akses data secara public pakai parameter /data?key=your_api_key
API_KEY="your_api_key"
# encypt_key (pastikan sama dengan di fe: VITE_MODEL_CHATBOT_KEY)
MODEL_ENCRYPT_KEY=your_chatbot_model_encrypt_decrypt_key

WS_MANAGEMENT_ENDPOINT=https://tkiidjxxxx.execute-api.us-east-1.amazonaws.com/production


# --- .env.local ---
NODE_ENV=dev

# --- .env.prod.local ---
# tex local Pakai DB Production
DB_USE_SSL='true'
DB_HOST='34.41.101.194'
DB_PASS='%55Sq6Avc1|C0u8X'


# --- .env.production (Postgres Cloud Run) ---
# tidak untuk test local, hanya untuk dikirim langsung ke deploy server
DB_PASS='%55Sq6Axxx|xxxxx'
FRONTEND_URLS=http://domain1,http://domain2
PROJECT_ID='project-e082d688-6xxx-xxxx-xxx' # project GCP
INSTANCE_ID=free-trial-first-project # nama Instance Cloud SQL