# -- .env.production --
# Production pakai postgress, local pakai sqlite (file:./dev.db)
DATABASE_URL=postgres://f643b889670e777098a4b519f5

# secret, tidak wajib diset (sudah ada default), ini khusus di Parameter store host deployment 
JWT_SECRET="yoursecret"
# API key untuk trigger ETL & akses data secara public pakai parameter /data?key=your_api_key
API_KEY="your_api_key"