# dependencies (bun install)
node_modules
dist

# dotenv environment variable files
.env
.env.production

src/generated/prisma
src/generated/prisma-pg
src/data/user_cf_scores.json
lambda-backend.zip
dist-lambda
dev/seed_backup.json
cert/global-bundle.pem
sql/backup_*.sql